*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #feefdd;
}

.img-container-index{
    border: solid 1px #201e1f   ;
    background-color:#faaa8d;
    padding-top: 15px;

}

.footer-container{
background-color: #201e1f;
color: beige;
}

.ty-hover:hover::after{  
    content: '❤️'; 
   

}

.card-login{
max-width: 700px;
margin: 200px auto 0 auto;
}

.request{
    color: gray;
    font-size: 9px;
}

/* .logo-navbar{
    width: 30%;
} */